<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thirteendollars.singlerent">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-feature android:name="android.hardware.nfc" android:required="true" />


    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:theme="@style/AppTheme">
        <activity android:name=".splash.SplashScreenActivity" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login.LoginActivity" android:screenOrientation="portrait"/>
        <activity android:name=".main.MainActivity" android:screenOrientation="portrait"/>
        <activity android:name=".register.RegisterActivity" android:screenOrientation="portrait"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC6kPGXlbgBF4-0F4fWKB1FpC_qm22-J5I" />

    </application>

</manifest>